@use "@angular/material" as mat;
@use "../../../../styles.scss";

.pdf-container {
  display: flex;
  align-items: flex-end;
  max-width: 100%;

  span {
    font-size: 1rem;
    white-space: normal;
    word-break: break-word;
  }

  img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }
}

.pdf-unit {
  display: flex;
  align-items: center;
  min-width: fit-content;
  max-width: 450px;
  height: 35px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.pdf-outer-container {
  margin-bottom: 30px;
}

a {
  color: black;
}
