<mat-radio-group
  class="custom-images"
  [ngStyle]="{
    'justify-content': currentPositionX,
    'align-items': currentPositionY,
    'flex-direction': currentFlow
  }"
>
  <ng-container *ngFor="let image of images; let i = index">
    <mat-radio-button disableRipple="true" [value]="i">
      <img
        class="image"
        [src]="getImage(image.src)"
        [ngStyle]="{ width: getPicWidth(image.width) }"
        (click)="handleClick($event)"
      />
    </mat-radio-button>
  </ng-container>
</mat-radio-group>
