<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
    <div class="node-title">
      <mat-icon
        *ngIf="node.children?.length"
        (click)="node.isExpanded = !node.isExpanded"
        aria-hidden="false"
        aria-label="expand icon"
        class="node-title__icon"
      >
        {{ node.isExpanded ? "expand_less" : "expand_more" }}
      </mat-icon>
      <span class="node-title__name-span" (click)="navigate(node.id)">{{
        node.name
      }}</span>
      <span class="item-notes" *ngIf="node.children?.length"
        >({{ node.children?.length }})</span
      >
      <span class="node-title__spacer"></span>
    </div>

    <div
      *ngIf="node.isExpanded && node.children?.length"
      class="node-children"
      [id]="node.id"
      @fold
    >
      <div *ngFor="let child of node.children" @fold>
        <ng-container
          *ngTemplateOutlet="tmplNode; context: { node: child }"
        ></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<div id="main" *ngIf="isMenuOpen$ | async" @animate>
  <div class="tree-controls">
    <div class="tree-buttons">
      <button
        class="tree-button"
        mat-raised-button
        (click)="isTreeExpanded(treeDataService.contentsData)"
      >
        {{
          expandButtonState.expanded
            ? expandButtonState.text.open
            : expandButtonState.text.close
        }}
      </button>
    </div>
  </div>

  <div *ngFor="let node of treeDataService.contentsData">
    <ng-container
      *ngTemplateOutlet="tmplNode; context: { node: node }"
    ></ng-container>
  </div>
</div>

<!-- <div class="contents-container" *ngIf="isMenuOpen$ | async" @animate>
  <h1>Содержание:</h1>
  <ul class="contents">
    <ng-template #recursiveList let-contentsData>
      <li *ngFor="let item of contentsData" (click)="choosePage(item)">
        {{item.name}}
        <ul *ngIf="item.children && item.children.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
      </li>
    </ng-template> -->
