@use "@angular/material" as mat;
@use "../../../../styles.scss";

.contents-container {
  padding: 20px 0 20px 20px;
  overflow-y: auto;
  max-height: 100%;
}

.contents {
  padding: 10px 50px 20px 20px;
  min-width: 210px;
}

.node-item {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  transition: 0.5s;
  margin-left: 30px;
}

.node-title {
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__spacer {
    flex-grow: 1;
  }

  &__icon {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__name-span {
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      color: mat.get-color-from-palette(styles.$Builder-primary, A700);
    }
  }
}

.node-children {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
}

.item-notes {
  margin-left: 20px;
  color: #aaa;
}

#main {
  position: relative;
  padding-right: 40px;
  overflow-y: overlay;
  height: 100%;
  transition: all 1s ease-in-out;
}

.tree-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.tree-button {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: fit-content;

  &__generate {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

.tree-controls {
  display: flex;
  flex-direction: column;
}

.child-node {
  padding-top: 0;
  padding-bottom: 0;

  .node-title {
    padding-top: 0;
    padding-bottom: 0;
  }
}
