@use "@angular/material" as mat;
@use "../../../../styles.scss";

.audio-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  span {
    white-space: normal;
    word-break: break-word;
    width: 100%;
  }
}

.audio-outer-container {
  margin: 0 auto 30px auto;
  max-width: 1200px;
}

.audio-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio {
  width: 100%;
  max-width: 1200px;
}
